<h1> Showing details of kitten </h1>
<div>
	Name: <%= @kitten.name %>
</div>
<div>
	Age: <%= @kitten.age %>
</div>
<div>
	Cuteness: <%= @kitten.cuteness %>
</div>
<div>
	Softness: <%= @kitten.softness %>
</div>

<%= link_to "Home" , root_url %>